<html >

<body>
<div> <h1>Editing Page</h1></div>
    <div >
    <form method="post">
        <input type="text" name="name" placeholder="Enter name"/>
        <input type="text" name="surname" placeholder="Enter surname"/>
        <button type="submit">Add Record</button >
    </form>
    <div>
        <button onclick="window.location.href = 'http://localhost:8080/entities';">Page of Entities </button>
        <button onclick="window.location.href = 'http://localhost:8080/view';">Page of View</button>
    </div>
    </div>


<div>
<table border="1" width="300">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EDIT</th>
    </tr>

    {{#persons}}
    <div>
<tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{surname}}</td>
    <td><button onclick="window.location.href = 'http://localhost:8080/student/{{id}}/edit';">Edit</button></td>
</tr>
    </div>
    {{/persons}}
</table>
</div>


</body>
</html>