<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User Details</title>
</head>

<body>

<div align="center">

    <h1>View Student</h1>

    <a href="/main">Back to User List</a>

        {{#student}}
            <form method="post">

            <table border="1">
                <tr>
                    <td>ID</td>
                    <td>{{studentId}}</td>
                </tr>

                <tr>
                    <td>NAME</td>
                    <td><input type="text" name="name" value="{{#student}}{{name}}{{/student}}" /></td>
                </tr>

                <tr>
                    <td>SURNAME</td>
                <td><input type="text" name="surname" value="{{#student}}{{surname}}{{/student}}" /></td>
                </tr>
            </table>

            <button type="submit" value="{{#update}}Update{{/update}}{{^update}}Update{{/update}}">Update Record</button >

            </form>
        {{/student}}
</div>

</body>
</html>