<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>User Details</title>

</head>
<body>
<h1>View Student</h1>
<a href="/main">Back to User List</a>


<div>
        {{#student}}
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td>{{studentId}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>:</td>
                    <td>{{surname}}</td>
                </tr>
            </table>
        {{/student}}
</div>

</body>
</html>